[submodule "techtonica-projects/techtonica-projects/portfolio-website"]
	path = techtonica-projects/techtonica-projects/portfolio-website
	url = https://github.com/picaq/portfolio-website.git
[submodule "techtonica-projects/portfolio-website"]
	path = techtonica-projects/portfolio-website
	url = https://github.com/picaq/portfolio-website.git
